{% extends "base.html" %}

{% block overview_section %}
<div class="hero-unit no-top-space">
  <h1 class="center">{{_('About us')}}</h1>
  <p class="info">
  Curabitur sed urna eu elit placerat hendrerit. Sed facilisis tortor ac lacus iaculis vestibulum. Etiam et aliquam urna. In hac habitasse platea dictumst. Suspendisse urna quam, faucibus a hendrerit non, adipiscing non lorem. Praesent pulvinar nibh sit amet eros luctus consequat. Nam enim turpis, imperdiet vitae eleifend sed, sollicitudin sed nisi. Sed et venenatis dolor. Suspendisse elementum leo quam. Proin eu ipsum in arcu feugiat aliquam ut eu ipsum. Proin id tempus nibh. Aliquam at libero ligula, sed dictum arcu. Duis sed congue eros. Quisque non dolor id sapien interdum rutrum id a erat.
  </p>
</div>
<script type="text/javascript">
  $(function(){
    $("li#about").addClass('active');
  });
</script>
{% endblock %}

